
.bookCovers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  h1 {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    border: none;
    background-color:burlywood;
    padding: 1em;
    animation:myanimation 10s infinite;
  }
  @keyframes myanimation {
     0% { background-color:red ;}
     25% {background-color:yellow;}
     50% {background-color:green ;}
     75% {background-color:brown;}
    100% {background-color: red;
    }
    }
 
  #root {
    width: 500px;
    margin: 0 auto;
    border: none;
    padding: 2em;
    background-color:white;
  }
  ul {
    padding-left: 0.5em;
    list-style-type: none;
  }
  
  body {
    width: 100%;
    max-width: 900px;
    margin: 2em auto;
  }
  